:root{
	--grid-width: 114rem;
	--gutter-vertical: 8rem;
	--gutter-horizontal: 15rem;
}
html{
	font-size: 62.5%;
}
*,*::after,*::before{
	box-sizing:inherit;
	margin: 0;
	padding: 0;
}
.row{
	max-width: 114rem;
	margin: 0 auto;
}
.row:not(:last-child){
	margin-bottom: 8rem;
}
.col-1-of-2{
	height: 60%;
	width: calc((100% - var(--gutter-horizontal))/2);
	position: relative;
}
.col-2-of-2{

}
.col-1-of-3{
	width: var(--gutter-horizontal * 3);
}
.col-2-of-3{
  width: calc(var(--gutter-3) * 2 + 6rem);
}
.col-1-of-4{
  width: var(--gutter-4);
}
.col-2-of-4{
  width: calc(var(--gutter-4) * 2 + 6rem);
}
.col-3-of-4{
  width: calc(var(--gutter-4) * 3 + 12rem);
}
[class^="col-"]{
    border-radius: .5rem;
    padding: 5px;
    text-align: center;
	float: left;
    transition: .25s;
	font-size: 2rem;
}
[class^="col-"]:last-child{
	margin-left: 15rem;
}
.row::after{
	content: "";
	display: table;
	clear: both;
}
